// @import "variables.scss";

.caboodle-flex {
	display: flex;
}

.caboodle-flex-row {
	flex-flow: row wrap;
}

.caboodle-flex-column {
	flex-flow: column wrap;
}

.caboodle-flex-left {
	justify-content: flex-start;
}

.caboodle-flex-right {
	justify-content: flex-end;
}

.caboodle-flex-space-between {
	justify-content: space-between;
}

.caboodle-flex-center {
	justify-content: center;
}

.caboodle-flex-align-left {
	align-items: flex-start;
}

.caboodle-flex-align-center {
	align-items: center;
}

.caboodle-flex-align-right {
	align-items: flex-end;
}

.caboodle-flex-align-base {
	align-items: baseline;
}

.caboodle-flex-content {
    flex: 1;
}
.caboodle-flex-flow-reverse {
    flex-flow: row-reverse;
}